@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: Poppins, sans-serif;
}